.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background-color: #3c3326;
  padding: 1.5rem;
  color: black;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.dice-section {
  margin: 1rem 0;
}

.dice-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
}

.conquista-msg {
  color: green;
  font-weight: bold;
}
