USE [master]
GO
/****** Object:  Database [BD_TEG]    Script Date: 31/5/2025 17:13:56 ******/
CREATE DATABASE [BD_TEG]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_TEG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_TEG]
GO
/****** Object:  Table [dbo].[Exchange_cards]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchange_cards](
	[exchange_id] [int] NOT NULL,
	[player_card_id] [int] NOT NULL,
 CONSTRAINT [pk_exchange_card] PRIMARY KEY CLUSTERED
(
	[exchange_id] ASC,
	[player_card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exchanges]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchanges](
	[exchange_id] [int] IDENTITY(1,1) NOT NULL,
	[player_card_exchange_id] [int] NOT NULL,
	[date_time_exchange] [datetime] NOT NULL,
	[army_amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[exchange_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[color_id] [int] IDENTITY(1,1) NOT NULL,
	[name_color] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries_connection]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries_connection](
	[country_origin_id] [int] NOT NULL,
	[country_destination_id] [int] NOT NULL,
 CONSTRAINT [pk_conexion] PRIMARY KEY CLUSTERED 
(
	[country_origin_id] ASC,
	[country_destination_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continents](
	[continent_id] [int] IDENTITY(1,1) NOT NULL,
	[name_continent] [varchar](50) NOT NULL,
	[army_bonus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[continent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[complaint_id] [int] IDENTITY(1,1) NOT NULL,
	[game_complaint_id] [int] NOT NULL,
	[accuser_id] [int] NOT NULL,
	[accused_id] [int] NOT NULL,
	[reason] [varchar](100) NOT NULL,
	[date_time_complaint] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[complaint_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States_game]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States_game](
	[state_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[state_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History_events]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History_events](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[history_game_id] [int] NOT NULL,
	[description] [varchar](100) NOT NULL,
	[date_time_event] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players_game]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players_game](
	[player_id] [int] IDENTITY(1,1) NOT NULL,
	[game_id] [int] NOT NULL,
	[base_player_id] [int] NOT NULL,
	[color_id] [int] NOT NULL,
	[objective_id] [int] NOT NULL,
	[objective_achieved] [bit] NOT NULL,
	[order_turn] [int] NOT NULL,
	[is_turn] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Base_players]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Base_players](
	[base_player_id] [int] IDENTITY(1,1) NOT NULL,
	[name_player] [varchar](50) NOT NULL,
	[available_armies] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[base_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players_bot]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players_bot](
	[base_player_id] [int] NOT NULL,
	[level_bot_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[base_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Human_players]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Human_players](
	[human_player_id] [int] NOT NULL,
	[user_player_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[human_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[message_game_id] [int] NOT NULL,
	[sender_id] [int] NOT NULL,
	[content] [varchar](100) NOT NULL,
	[active_state] [bit] NOT NULL,
	[modified] [bit] NOT NULL,
	[date_time_message] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levels_bot]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels_bot](
	[level_id] [int] IDENTITY(1,1) NOT NULL,
	[name_bot] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secrets_objectives]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secrets_objectives](
	[objective_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[objective_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players_pact]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players_pact](
	[pact_id] [int] NOT NULL,
	[base_player_id] [int] NOT NULL,
 CONSTRAINT [pk_players_pact] PRIMARY KEY CLUSTERED
(
	[pact_id] ASC,
	[base_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country_pact]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country_pact](
	[pact_id] [int] NOT NULL,
	[country_id] [int] NOT NULL,
 CONSTRAINT [pk_country_pact] PRIMARY KEY CLUSTERED
(
	[pact_id] ASC,
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacts]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacts](
	[pact_id] [int] IDENTITY(1,1) NOT NULL,
	[game_pact_id] [int] NOT NULL,
	[pact_type_id] [int] NOT NULL,
	[creator_player_id] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[date_time_pact] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[country_id] [int] IDENTITY(1,1) NOT NULL,
	[name_country] [varchar](50) NOT NULL,
	[continent_country_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries_game]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries_game](
	[country_id] [int] NOT NULL,
	[country_game_id] [int] NOT NULL,
	[country_player_id] [int] NOT NULL,
	[amount_armies] [int] NOT NULL,
 CONSTRAINT [pk_country_game] PRIMARY KEY CLUSTERED
(
	[country_game_id] ASC,
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game_mementos]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game_mementos](
	[memento_id] [int] IDENTITY(1,1) NOT NULL,
	[date_time_memento] [datetime] NOT NULL,
	[state_memento] [nvarchar](max) NOT NULL,
	[game_version] [int] NOT NULL,
	[game_id] [int] NOT NULL,
	[history_game_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[memento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[game_id] [int] IDENTITY(1,1) NOT NULL,
	[start_date_game] [datetime] NOT NULL,
	[state_id] [int] NOT NULL,
	[communication_type_id] [int] NOT NULL,
	[objective_common_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rols]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rols](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Symbols]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Symbols](
	[symbol_id] [int] IDENTITY(1,1) NOT NULL,
	[type_symbol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[symbol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cards_player]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards_player](
	[card_player_id] [int] IDENTITY(1,1) NOT NULL,
	[card_country_id] [int] NOT NULL,
	[player_game_id] [int] NOT NULL,
	[used] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cards_country]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards_country](
	[card_country_id] [int] IDENTITY(1,1) NOT NULL,
	[country_id] [int] NOT NULL,
	[symbol_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Communication_types]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Communication_types](
	[communication_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[communication_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pact_types]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pact_types](
	[pact_type_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pact_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turns]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turns](
	[turn_id] [int] IDENTITY(1,1) NOT NULL,
	[turn_player_game_id] [int] NOT NULL,
	[turn_game_id] [int] NOT NULL,
    [current_phase] [varchar](20) NOT NULL,
	[initial_start_date] [datetime] NOT NULL,
	[max_duration] [int] NOT NULL,
	[available_armies] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[turn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31/5/2025 17:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[user_rol_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Colors] ON

INSERT [dbo].[Colors] ([color_id], [name_color]) VALUES (1, N'red')
INSERT [dbo].[Colors] ([color_id], [name_color]) VALUES (2, N'blue')
INSERT [dbo].[Colors] ([color_id], [name_color]) VALUES (3, N'green')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
INSERT [dbo].[Countries_connection] ([country_origin_id], [country_destination_id]) VALUES (1, 4)
INSERT [dbo].[Countries_connection] ([country_origin_id], [country_destination_id]) VALUES (1, 6)
INSERT [dbo].[Countries_connection] ([country_origin_id], [country_destination_id]) VALUES (1, 8)
GO
SET IDENTITY_INSERT [dbo].[Continents] ON

INSERT [dbo].[Continents] ([continent_id], [name_continent], [army_bonus]) VALUES (1, N'north_america', 5)
INSERT [dbo].[Continents] ([continent_id], [name_continent], [army_bonus]) VALUES (2, N'south_america', 3)
INSERT [dbo].[Continents] ([continent_id], [name_continent], [army_bonus]) VALUES (3, N'europe', 5)
SET IDENTITY_INSERT [dbo].[Continents] OFF
GO
SET IDENTITY_INSERT [dbo].[States_game] ON

INSERT [dbo].[States_game] ([state_id], [description]) VALUES (1, N'paused')
INSERT [dbo].[States_game] ([state_id], [description]) VALUES (2, N'in_cuorse')
INSERT [dbo].[States_game] ([state_id], [description]) VALUES (3, N'canceled')
SET IDENTITY_INSERT [dbo].[States_game] OFF
GO
SET IDENTITY_INSERT [dbo].[Levels_bot] ON

INSERT [dbo].[Levels_bot] ([level_id], [name_bot]) VALUES (1, N'novice')
INSERT [dbo].[Levels_bot] ([level_id], [name_bot]) VALUES (2, N'balanced')
INSERT [dbo].[Levels_bot] ([level_id], [name_bot]) VALUES (3, N'expert')
SET IDENTITY_INSERT [dbo].[Levels_bot] OFF
GO
SET IDENTITY_INSERT [dbo].[Secrets_objectives] ON

INSERT [dbo].[Secrets_objectives] ([objective_id], [description]) VALUES (1, N'Ocupar África, 5 países de América del Norte y 4 países de Europa')
INSERT [dbo].[Secrets_objectives] ([objective_id], [description]) VALUES (2, N'Ocupar América del Sur, 7 países de Europa y 3 países limítrofes entre sí en cualquier lugar del mapa')
INSERT [dbo].[Secrets_objectives] ([objective_id], [description]) VALUES (3, N'Ocupar Asia y 2 países de América del Sur')
SET IDENTITY_INSERT [dbo].[Secrets_objectives] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON
    INSERT [dbo].[Countries] ([country_id], [name_country], [continent_country_id]) VALUES (1, N'canada', 1)
    INSERT [dbo].[Countries] ([country_id], [name_country], [continent_country_id]) VALUES (2, N'greenland', 1)
    INSERT [dbo].[Countries] ([country_id], [name_country], [continent_country_id]) VALUES (3, N'california', 1)
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Rols] ON

INSERT [dbo].[Rols] ([role_id], [description]) VALUES (1, N'admin')
INSERT [dbo].[Rols] ([role_id], [description]) VALUES (2, N'player')
SET IDENTITY_INSERT [dbo].[Rols] OFF
GO
SET IDENTITY_INSERT [dbo].[Symbols] ON

INSERT [dbo].[Symbols] ([symbol_id], [type_symbol]) VALUES (1, N'Infantry')
INSERT [dbo].[Symbols] ([symbol_id], [type_symbol]) VALUES (2, N'Chivalry')
INSERT [dbo].[Symbols] ([symbol_id], [type_symbol]) VALUES (3, N'Artillery')
SET IDENTITY_INSERT [dbo].[Symbols] OFF
GO
SET IDENTITY_INSERT [dbo].[Communication_types] ON

INSERT [dbo].[Communication_types] ([communication_id], [description]) VALUES (1, N'fair_play')
INSERT [dbo].[Communication_types] ([communication_id], [description]) VALUES (2, N'anything_goes')
INSERT [dbo].[Communication_types] ([communication_id], [description]) VALUES (3, N'no_intervention')
SET IDENTITY_INSERT [dbo].[Communication_types] OFF
GO
SET IDENTITY_INSERT [dbo].[Pact_types] ON

INSERT [dbo].[Pact_types] ([pact_type_id], [description]) VALUES (1, N'non_aggression')
INSERT [dbo].[Pact_types] ([pact_type_id], [description]) VALUES (2, N'between_countries')
INSERT [dbo].[Pact_types] ([pact_type_id], [description]) VALUES (3, N'international_area')
SET IDENTITY_INSERT [dbo].[Pact_types] OFF
GO
/****** Object:  Index [UQ__Players__DC75C67F0892F982]    Script Date: 31/5/2025 17:13:56 ******/
ALTER TABLE [dbo].[Human_players] ADD UNIQUE NONCLUSTERED
(
	[user_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Players__DC75C67FB57040DA]    Script Date: 31/5/2025 17:13:56 ******/
ALTER TABLE [dbo].[Human_players] ADD UNIQUE NONCLUSTERED
(
	[user_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Players__DC75C67FF29943AE]    Script Date: 31/5/2025 17:13:56 ******/
ALTER TABLE [dbo].[Human_players] ADD UNIQUE NONCLUSTERED
(
	[user_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exchange_cards]  WITH CHECK ADD  CONSTRAINT [fk_exchange] FOREIGN KEY([exchange_id])
REFERENCES [dbo].[Exchanges] ([exchange_id])
GO
ALTER TABLE [dbo].[Exchange_cards] CHECK CONSTRAINT [fk_exchange]
GO
ALTER TABLE [dbo].[Exchange_cards]  WITH CHECK ADD  CONSTRAINT [fk_player_card] FOREIGN KEY([player_card_id])
REFERENCES [dbo].[Card_player] ([card_player_id])
GO
ALTER TABLE [dbo].[Exchange_cards] CHECK CONSTRAINT [fk_player_card]
GO
ALTER TABLE [dbo].[Exchanges]  WITH CHECK ADD  CONSTRAINT [fk_player_card_exchange] FOREIGN KEY([player_card_exchange_id])
REFERENCES [dbo].[PlayerGames] ([player_id])
GO
ALTER TABLE [dbo].[Exchanges] CHECK CONSTRAINT [fk_player_card_exchange]
GO
ALTER TABLE [dbo].[Countries_connection]  WITH CHECK ADD  CONSTRAINT [fk_country_destination] FOREIGN KEY([fk_country_destination_id])
REFERENCES [dbo].[Countries] ([country_id])
GO
ALTER TABLE [dbo].[Countries_connection] CHECK CONSTRAINT [fk_country_destination]
GO
ALTER TABLE [dbo].[Countries_connection]  WITH CHECK ADD  CONSTRAINT [fk_country_origin] FOREIGN KEY([country_origin_id])
REFERENCES [dbo].[Countries] ([country_id])
GO
ALTER TABLE [dbo].[Countries_connection] CHECK CONSTRAINT [fk_country_origin]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [fk_accusser_complaint] FOREIGN KEY([accuser_id])
REFERENCES [dbo].[Base_players] ([base_player_id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [fk_accusser_complaint]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [fk_accussed_complaint] FOREIGN KEY([accused_id])
REFERENCES [dbo].[Base_players] ([base_player_id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [fk_accussed_complaint]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [fk_game_complaint] FOREIGN KEY([game_complaint_id])
REFERENCES [dbo].[Games] ([game_id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [fk_game_complaint]
GO
ALTER TABLE [dbo].[History_events]  WITH CHECK ADD  CONSTRAINT [fk_history_game] FOREIGN KEY([history_game_id])
REFERENCES [dbo].[Games] ([game_id])
GO
ALTER TABLE [dbo].[History_events] CHECK CONSTRAINT [fk_history_game]
GO
ALTER TABLE [dbo].[Player_games]  WITH CHECK ADD  CONSTRAINT [fk_color] FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([color_id])
GO
ALTER TABLE [dbo].[Player_games] CHECK CONSTRAINT [fk_color]
GO
ALTER TABLE [dbo].[Player_games]  WITH CHECK ADD  CONSTRAINT [fk_base_player_game] FOREIGN KEY([base_player_id])
REFERENCES [dbo].[Base_players] ([base_player_id])
GO
ALTER TABLE [dbo].[Player_games] CHECK CONSTRAINT [fk_base_player_game]
GO
ALTER TABLE [dbo].[Player_games]  WITH CHECK ADD  CONSTRAINT [fk_objective] FOREIGN KEY([objective_id])
REFERENCES [dbo].[Secrets_objectives] ([objectives_id])
GO
ALTER TABLE [dbo].[Player_games] CHECK CONSTRAINT [fk_objective]
GO
ALTER TABLE [dbo].[Player_games]  WITH CHECK ADD  CONSTRAINT [fk_player_game] FOREIGN KEY([partida_id])
REFERENCES [dbo].[Games] ([game_id])
GO
ALTER TABLE [dbo].[Player_games] CHECK CONSTRAINT [fk_player_game]
GO
ALTER TABLE [dbo].[Players_bot]  WITH CHECK ADD  CONSTRAINT [fk_base_player] FOREIGN KEY([base_player_id])
REFERENCES [dbo].[Base_players] ([base_player_id])
GO
ALTER TABLE [dbo].[Players_bot] CHECK CONSTRAINT [fk_base_player]
GO
ALTER TABLE [dbo].[Players_bot]  WITH CHECK ADD  CONSTRAINT [fk_level_bot] FOREIGN KEY([level_bot_id])
REFERENCES [dbo].[Niveles_bot] ([nivel_id])
GO
ALTER TABLE [dbo].[Players_bot] CHECK CONSTRAINT [fk_level_bot]
GO
-- ALTER TABLE [dbo].[Human_players]  WITH CHECK ADD  CONSTRAINT [fk_human_base_player] FOREIGN KEY([human_player_id])
REFERENCES [dbo].[Base_players] ([base_player_id])
GO
ALTER TABLE [dbo].[Human_players] CHECK CONSTRAINT [fk_human_base_player]
GO
ALTER TABLE [dbo].[Human_players]  WITH CHECK ADD  CONSTRAINT [fk_human_player_user] FOREIGN KEY([user_player_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Human_players] CHECK CONSTRAINT [fk_human_player_user]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [fk_sender_message] FOREIGN KEY([sender_id])
REFERENCES [dbo].[Base_players] ([base_player_id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [fk_sender_message]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [fk_message_game] FOREIGN KEY([message_game_id])
REFERENCES [dbo].[Games] ([game_id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [fk_message_game]
GO
ALTER TABLE [dbo].[Players_pact]  WITH CHECK ADD  CONSTRAINT [fk_player] FOREIGN KEY([base_player_id])
REFERENCES [dbo].[Base_players] ([base_player_id])
GO
ALTER TABLE [dbo].[Players_pact] CHECK CONSTRAINT [fk_player]
GO
ALTER TABLE [dbo].[Players_pact]  WITH CHECK ADD  CONSTRAINT [fk_pact_player] FOREIGN KEY([pact_id])
REFERENCES [dbo].[Pacts] ([pact_id])
GO
ALTER TABLE [dbo].[Players_pact] CHECK CONSTRAINT [fk_pact_player]
GO
ALTER TABLE [dbo].[Countries_pact]  WITH CHECK ADD  CONSTRAINT [fk_pact_country] FOREIGN KEY([pact_id])
REFERENCES [dbo].[Pacts] ([pact_id])
GO
ALTER TABLE [dbo].[Countries_pact] CHECK CONSTRAINT [fk_pact_country]
GO
ALTER TABLE [dbo].[Countries_pact]  WITH CHECK ADD  CONSTRAINT [fk_country_pact] FOREIGN KEY([country_id])
REFERENCES [dbo].[Countries] ([country_id])
GO
ALTER TABLE [dbo].[Countries_pact] CHECK CONSTRAINT [fk_country_pact]
GO
ALTER TABLE [dbo].[Pacts]  WITH CHECK ADD  CONSTRAINT [fk_creator_pact] FOREIGN KEY([creator_player_id])
REFERENCES [dbo].[Base_players] ([base_player_id])
GO
ALTER TABLE [dbo].[Pacts] CHECK CONSTRAINT [fk_creator_pact]
GO
ALTER TABLE [dbo].[Pacts]  WITH CHECK ADD  CONSTRAINT [fk_pact_game] FOREIGN KEY([game_pact_id])
REFERENCES [dbo].[Games] ([partida_id])
GO
ALTER TABLE [dbo].[Pacts] CHECK CONSTRAINT [fk_pact_game]
GO
ALTER TABLE [dbo].[Pacts]  WITH CHECK ADD  CONSTRAINT [fk_pact_type] FOREIGN KEY([pact_type_id])
REFERENCES [dbo].[Pact_types] ([pact_type_id])
GO
ALTER TABLE [dbo].[Pacts] CHECK CONSTRAINT [fk_pact_type]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [fk_continent_country] FOREIGN KEY([continent_country_id])
REFERENCES [dbo].[Continents] ([continent_id])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [fk_continent_country]
GO
ALTER TABLE [dbo].[Countries_game]  WITH CHECK ADD  CONSTRAINT [fk_country_player] FOREIGN KEY([country_player_id])
REFERENCES [dbo].[Base_players] ([base_player_id])
GO
ALTER TABLE [dbo].[Countries_game] CHECK CONSTRAINT [fk_country_player]
GO
ALTER TABLE [dbo].[Countries_game]  WITH CHECK ADD  CONSTRAINT [fk_country_game] FOREIGN KEY([country_id])
REFERENCES [dbo].[Countries] ([country_id])
GO
ALTER TABLE [dbo].[Countries_game] CHECK CONSTRAINT [fk_country_game]
GO
ALTER TABLE [dbo].[Countries_game]  WITH CHECK ADD  CONSTRAINT [fk_game_country] FOREIGN KEY([country_game_id])
REFERENCES [dbo].[Games] ([game_id])
GO
ALTER TABLE [dbo].[Countries_game] CHECK CONSTRAINT [fk_game_country]
GO
ALTER TABLE [dbo].[Game_mementos]  WITH CHECK ADD  CONSTRAINT [fk_memento_history_game] FOREIGN KEY([history_game_id])
REFERENCES [dbo].[History_events] ([history_id])
GO
ALTER TABLE [dbo].[Game_mementos] CHECK CONSTRAINT [fk_memento_history_game]
GO
ALTER TABLE [dbo].[Game_mementos]  WITH CHECK ADD  CONSTRAINT [fk_memento_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[Games] ([game_id])
GO
ALTER TABLE [dbo].[Game_mementos] CHECK CONSTRAINT [fk_memento_game]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [fk_state_game] FOREIGN KEY([state_id])
REFERENCES [dbo].[States_game] ([state_id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [fk_state_game]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [fk_objective_common] FOREIGN KEY([objective_common_id])
REFERENCES [dbo].[Secrets_objectives] ([objective_id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [fk_objective_common]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [fk_type_communication_game] FOREIGN KEY([communication_type_id])
REFERENCES [dbo].[Communication_types] ([communication_id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [fk_type_communication_game]
GO
ALTER TABLE [dbo].[Cards_player]  WITH CHECK ADD  CONSTRAINT [fk_player_game] FOREIGN KEY([player_game_id])
REFERENCES [dbo].[Players_game] ([player_id])
GO
ALTER TABLE [dbo].[Cards_player] CHECK CONSTRAINT [fk_player_game]
GO
ALTER TABLE [dbo].[Cards_player]  WITH CHECK ADD  CONSTRAINT [fk_card_country] FOREIGN KEY([card_country_id])
REFERENCES [dbo].[Cards_country] ([card_country_id])
GO
ALTER TABLE [dbo].[Cards_player] CHECK CONSTRAINT [fk_card_country]
GO
ALTER TABLE [dbo].[Cards_country]  WITH CHECK ADD  CONSTRAINT [fk_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[Countries] ([country_id])
GO
ALTER TABLE [dbo].[Cards_country] CHECK CONSTRAINT [fk_country]
GO
ALTER TABLE [dbo].[Cards_country]  WITH CHECK ADD  CONSTRAINT [fk_symbol] FOREIGN KEY([symbol_id])
REFERENCES [dbo].[Symbols] ([symbol_id])
GO
ALTER TABLE [dbo].[Cards_country] CHECK CONSTRAINT [fk_symbol]
GO
ALTER TABLE [dbo].[Turns]  WITH CHECK ADD  CONSTRAINT [fk_turn_player_game] FOREIGN KEY([turn_player_game_id])
REFERENCES [dbo].[Players_game] ([player_id])
GO
ALTER TABLE [dbo].[Turns] CHECK CONSTRAINT [fk_turn_player_game]
GO
ALTER TABLE [dbo].[Turns]  WITH CHECK ADD  CONSTRAINT [fk_turn_game] FOREIGN KEY([turn_game_id])
REFERENCES [dbo].[Games] ([game_id])
GO
ALTER TABLE [dbo].[Turns] CHECK CONSTRAINT [fk_turn_game]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fk_user_rol] FOREIGN KEY([user_rol_id])
REFERENCES [dbo].[Rols] ([rol_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fk_user_rol]
GO
USE [master]
GO
