<div class="login-container">
  <img class="logo"
       ngSrc="/assets/pagesImages/logo-teg.png"
       alt="logo-teg"
       height="250"
       width="250"
       priority
  >
  <form #register="ngForm" (ngSubmit)="onSubmit(register)">

    <div class="form-component">
      <label for="name">Nombre de Usuario</label>
      <input class="form-input"
             id="name"
             name="name"
             type="text"
             [placeholder]="namePlaceholder || 'ej: Juan García'"
             #loginName="ngModel"
             minlength="3"
             maxlength="20"
             [(ngModel)]="userModel.name"
      >
      @if (loginName.getError("minlength") && (loginName.dirty || loginName.touched)) {
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          El nombre debe tener al menos 3 caracteres
        </div>
      }
      @if (loginName.getError("maxlength") && (loginName.dirty || loginName.touched)) {
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          El nombre no puede superar los 20 caracteres
        </div>
      }
    </div>

    <div class="form-component">
      <label for="email">Correo Electrónico</label>
      <input class="form-input"
             id="email"
             name="email"
             type="email"
             [placeholder]="emailPlaceholder || 'ej: usuario@example.com'"
             #loginEmail="ngModel"
             minlength="10"
             maxlength="30"
             email
             [(ngModel)]="userModel.email"
      >
      @if (loginEmail.getError("email") && (loginEmail.dirty || loginEmail.touched)){
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          Por favor, ingresa un correo válido
        </div>
      }
      @if (loginEmail.getError("minlength") && (loginEmail.dirty || loginEmail.touched)){
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          El correo debe tener al menos 10 caracteres
        </div>
      }
      @if (loginEmail.getError("maxlength") && (loginEmail.dirty || loginEmail.touched)){
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          El correo no puede superar los 30 caracteres
        </div>
      }
    </div>

    <div class="form-component">
      <label for="password">Nueva Contraseña</label>
      <input class="form-input"
             id="password"
             name="password"
             type="password"
             placeholder="Mínimo 6 caracteres"
             #loginPassword="ngModel"
             minlength="6"
             maxlength="20"
             [(ngModel)]="userModel.password"
      >
      @if (loginPassword.getError("minlength") && (loginPassword.dirty || loginPassword.touched)){
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          La contraseña debe tener al menos 6 caracteres
        </div>
      } @else if (loginPassword.getError("maxlength") && (loginPassword.dirty || loginPassword.touched)){
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          La contraseña no puede superar los 20 caracteres
        </div>
      }
    </div>

    <div class="form-component">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <input class="form-input"
             id="confirmPassword"
             name="confirmPassword"
             type="password"
             placeholder="Repite tu nueva contraseña"
             #confirmPassword="ngModel"
             minlength="6"
             maxlength="20"
             [(ngModel)]="userModel.confirmPassword"
      >
      @if (confirmPassword.getError("minlength") && (confirmPassword.dirty || confirmPassword.touched)) {
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          La confirmación debe tener al menos 6 caracteres
        </div>
      }
      @if (confirmPassword.getError("maxlength") && (confirmPassword.dirty || confirmPassword.touched)) {
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          La confirmación no puede superar los 20 caracteres
        </div>
      }
    </div>

    <div class="form-button-container">
      <button class="btn" type="button" routerLink="/login">Volver</button>
      <button class="btn" type="submit">Confirmar cambios</button>
    </div>

  </form>
</div>
