.panel-container {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--card-bg);
  color: var(--text-color);
}
