<div class="panel-container">

  @if (toastConquer()) {
    <div class="toast">¡Conquista exitosa!</div>
  }

  @if (showTurn) {
    <div class="turn-modal">
      <div class="modal-contenido"
           [ngStyle]="{ borderColor: playerInTurn?.color?.toLowerCase() }">
        @if (activeTurn) {
          <p>¡Es tu turn!</p>
        } @else {
          <p>Turno: {{ playerInTurn?.player?.name }}</p>
        }
      </div>
    </div>
  }
  <div *ngIf="attackMessage" class="message-flotante ataque">
    {{ attackMessage }}
  </div>

  <div *ngIf="conquerMessage" class="message-flotante conquista">
    {{ conquerMessage }}
  </div>



  <div style="display: flex; flex-direction: column; gap: 12px;overflow-y: auto; scrollbar-width: none">
    <button class="pedir-tarjeta" (click)="askCard()" [disabled]="!canAskCards" [class.activo]="hasConquer()">Pedir Tarjeta</button>
    <button (click)="movePhaseCooldown = true; movePhase()" [disabled]="!activeTurn || movePhaseCooldown">Siguiente fase del turn</button>
    <button (click)="see_cards()">Ver tarjetas</button>
    <button (click)="add_army()" [disabled]="!activeTurn || !canPutArmies">Añadir ejércitos</button>
    <button [class.modo-atacar]="attackMode()" (click)="attack()" [disabled]="!activeTurn || !canAttack">Atacar</button>
    <button (click)="finish()" [disabled]="!activeTurn">Finalizar Turno</button>
    <button [class.modo-reagrupar]="modeRegroup()" (click)="move()" [disabled]="!activeTurn ||  !canMove">Reagrupar</button>
    <button (click)="see_objectives()">Ver objective secreto</button>
    <button (click)="menu()">Menú</button>
    <button (click)="openChat()">Chat</button>
    <button (click)="toggleHistory()">Historial</button>
  </div>

  @if (showModal()) {
    <app-objective-modal
      [objective]="objective()!"
      [achieved]="achieved()"
      (close)="close_modal()"
    />
  }

  @if (showCardModal()) {
    <app-cards-modal
      [cards]="playerCards"
      [gameId]="gameId"
      [playerId]="myPlayer?.id!"
      (requestedArmies)="refreshPlayer()"
      (close)="showCardModal.set(false)"
    />
  }

  <app-player-info [player]="myPlayer"/>

  <app-attack-result
    [hidden]="!openModalDice()"
    [result]="resultAttack"
    (modalClose)="openModalDice.set(false)"
  />

  @if (showMenuModal()) {
    <div class="menu-modal">
      <div class="panel-menu">
        <h1 class="menuCenter">Menú de Juego</h1>
        <button (click)="closeMenuModal()">Volver</button>
        <button (click)="returnLobby()">Salir al lobby</button>
        <button (click)="returnLogin()">Salir al inicio de sesión</button>
        <button (click)="saveGame()">Guardar game</button>
      </div>
    </div>
  }

</div>
