<div class="lobby">
  <div class="menu-lobby">



    <h2 class="title">Partidas guardadas</h2>

    @if (games && games.length > 0) {
      <div class="games">
        @for (game of games; track game.gameId) {
          <button
            class="game"
            [class.selected]="game.gameId === selectedGameId"
            (click)="selectGame(game.gameId)">
            Partida {{ game.dateLastSave }}
          </button>
        }
      </div>
    }



    <div class="botones">
      <button class="btn" (click)="goToTheMap()" [disabled]="!selectedGameId || games.length === 0" [class.btn-disabled]="!selectedGameId || games.length === 0">Cargar Partida</button>
      <button class="btn" (click)="loadGameConfig()">Crear Nueva Partida</button>
      <button class="btn" (click)="goLogin()">Volver al Login</button>
      <button class="btn" (click)="goHome()">Volver al Inicio</button>
    </div>
  </div>

</div>
